{% extends 'admin/master.html' %}

{% block body %}
{%if current_user.is_authenticated%}
<h1>Welcome {{current_user.name}}</h1>
{%else%}
<h1 class="text-center text-danger mt-1">Dang nhap Admin</h1>
<form method="post" action="/login-admin">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="username">
        <label for="email">Email</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        <label for="pwd">Password</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-danger">Dang nhap</button>
    </div>
</form>
{%endif%}

{% endblock %}