<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E-commerce Website!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="/?category_id={{c.id}}">{{c.name}}</a>
                </li>
                {% endfor %}

                {% if current_user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/">
                        <img src="{{current_user.avatar}}" width="25" class="rounded-circle"/>
                        chao {{current_user.username}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Dang xuat</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/login">Dang nhap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/register">Dang ky</a>
                </li>
                {%endif%}

            </ul>
        </div>
    </div>
</nav>