<!--<!DOCTYPE html>-->
<!--<html lang="vi">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Thông tin cá nhân</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
{% extends 'layout/base.html'%}


{% block content%}

<body>
<div class="container mt-5">
    <h1 class="text-center">Thông tin cá nhân</h1>
    <form method="post" action="/info/{{user.id}}">
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" name="name" value="{{user.name}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Giới tính</label>
            {% if user.sex == 'Male' %}
            <select class="form-select" name="gender">
                <option value="">Chọn giới tính</option>
                <option value="Male" selected>Nam</option>
                <option value="Female">Nữ</option>
            </select>
            {% elif user.sex == 'Female' %}
            <select class="form-select" name="gender">
                <option value="">Chọn giới tính</option>
                <option value="Male">Nam</option>
                <option value="Female" selected>Nữ</option>
            </select>
            {% else %}
            <select class="form-select" name="gender">
                <option value="">Chọn giới tính</option>
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
            </select>
            {% endif %}

        </div>
        <div class="mb-3">
            <label class="form-label">Ngày sinh</label>
            {%if date%}
            <input  type="date" name="birth" class="form-control date_pick" value="{{date}}" >
            {%else%}
            <input  type="date" name="birth" class="form-control date_pick" value="2000-11-12" >
            {%endif%}

        </div>
        <div class="mb-3">
            <label class="form-label">Địa chỉ</label>
            {%if user.address%}
            <input type="text" class="form-control" name="address" value="{{user.address}}">
            {%else%}
            <input type="text" class="form-control" name="address" placeholder="Nhập địa chỉ của bạn">
            {%endif%}

        </div>

        <div class="form-floating mb-3 mt-3">
            <input type="file" accept=".png,.jpg" class="form-control" id="avatar" placeholder="Ảnh đại diện"
                   name="avatar">
            <label for="avatar">Ảnh đại diện</label>
        </div>
        {% if user.avatar%}
            <div class="mb-3">
                <label class="form-label">Xem trước Avatar:</label>
                <div id="avatar-preview1" class="border rounded" style="width: 150px; height: 150px; overflow: hidden;">
                    <img id="avatar-image1" src="{{user.avatar}}" alt="Avatar preview"
                         style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
        {%else%}
             <div class="mb-3">
                <label class="form-label">Xem trước Avatar:</label>
                <div id="avatar-preview" class="border rounded" style="width: 150px; height: 150px; overflow: hidden;">
                    <img id="avatar-image" src="" alt="Avatar preview"
                         style="width: 100%; height: 100%; object-fit: cover; display: none;">
                </div>
            </div>
        {%endif%}
        <button type="submit" class="btn btn-primary">Lưu thông tin</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    const avatarInput = document.getElementById('avatar');
    const avatarImage = document.getElementById('avatar-image');

    avatarInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                avatarImage.src = e.target.result;
                avatarImage.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            avatarImage.style.display = 'none';
            avatarImage.src = '';
        }
    });
     window.addEventListener('load', function (event) {
        const userAvatar = `"${user.avatar}"`
        if (userAvatar) {
            const reader = new FileReader();
            reader.onload = function (e) {
                avatarImage.src = userAvatar;
                avatarImage.style.display = 'block';
            };
            reader.readAsDataURL(userAvatar);
        } else {
            avatarImage.style.display = 'none';
            avatarImage.src = '';
        }
    });
</script>

{% endblock %}