{% extends 'layout/base.html'%}


{% block content%}
<main id="main" class="main">

<!--    <div class="pagetitle">-->
<!--        <h1>Data Tables</h1>-->
<!--        <nav>-->
<!--            <ol class="breadcrumb">-->
<!--                <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
<!--                <li class="breadcrumb-item">Tables</li>-->
<!--                <li class="breadcrumb-item active">Data</li>-->
<!--            </ol>-->
<!--        </nav>-->
<!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>
                        <p>Add lightweight datatables to your project with using the <a
                                href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple
                            DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to
                            conver to a datatable. Check for <a
                                    href="https://fiduswriter.github.io/simple-datatables/demos/" target="_blank">more
                                examples</a>.</p>
                        <form action="/" method="post">
                            <div class="col-md-4 form-group mt-3">
                                <input type="date" name="date" class="form-control datepicker" id="date"
                                   placeholder="Appointment Date" required="">
                            </div>
                            <div class="text-left mt-2">
                                <button type="submit">Create</button>
                            </div>
                        </form>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th>
                                    <b>N</b>ame
                                </th>
                                <th>User</th>
                                <th>Pass</th>
                                <th></th>
<!--                                <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>-->
<!--                                <th>Completion</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in list_patient %}
                                <tr>
                                    <td>{{ i.name}}</td>
                                    <td>{{ i.username}}</td>
                                    <td>{{ i.pass}}</td>
                                    <td> <button class="btn btn-danger text-center align-content-center">-</button></td>
                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->


{%endblock%}