{% extends 'layout/base.html'%}


{% block content%}
<h1 class="text-center text-danger mt-1">ĐĂNG KÝ NGƯỜI DÙNG</h1>

{% if err_msg %}
<div class="alert alert-danger">
    {{ err_msg }}
</div>
{% endif %}

<form method="post" action="/register" enctype="multipart/form-data">
    <div class="form-floating mb-3 mt-3">
      <input required type="text" class="form-control" id="name" placeholder="Họ tên" name="name">
      <label for="name">Họ tên</label>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input required type="text" class="form-control" id="username" placeholder="Họ tên" name="username">
      <label for="username">Tên đăng nhập</label>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input required type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password">
      <label for="password">Mật khẩu</label>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input required type="password" class="form-control" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm">
      <label for="confirm">Xác nhận mật khẩu</label>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input type="file" accept=".png,.jpg" class="form-control" id="avatar" placeholder="Ảnh đại diện" name="avatar">
      <label for="avatar">Ảnh đại diện</label>
    </div>
    <div class="mb-3">
                <label class="form-label">Xem trước Avatar:</label>
                <div id="avatar-preview" class="border rounded" style="width: 150px; height: 150px; overflow: hidden;">
                    <img id="avatar-image" src="" alt="Avatar preview" style="width: 100%; height: 100%; object-fit: cover; display: none;">
                </div>
            </div>
    <div class="form-floating mb-3 mt-3">
        <button type="submit" class="btn btn-success">Đăng ký</button>
    </div>
</form>
 <script>
        const avatarInput = document.getElementById('avatar');
        const avatarImage = document.getElementById('avatar-image');

        avatarInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    avatarImage.src = e.target.result;
                    avatarImage.style.display = 'block';
                };
                reader.readAsDataURL(file);
            } else {
                avatarImage.style.display = 'none';
                avatarImage.src = '';
            }
        });
    </script>

{% endblock %}